body {
    background-color: #F4F4F4;

    font-family: "Classic Grotesque W01", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
}



html {
    font-size: 62.5%;
}

body {
    background-color: #f4f4f4;
}


.logo {
    margin: 0.2rem 0;
}

.logo a {
    color: #432e22;
}

.logo img {
    display: block;
    width: 20rem;
}

.our_name {
    font-size: 1.4rem;
}

.our_url {
    font-size: 1.4rem;
}
.nav-contents {
    margin: 0 auto;
    width: 96rem;
    min-width: 96rem;
}
.contents {
    margin: 0 auto;
    width: 85rem;
    min-width: 85rem;
}
.column {

    width: 64%;
    min-width: 600px;
    float: left;
    height: 46px;
}
.nav_bar {
    background-color: #2baae1;
    top: 0px;
    z-index: 1999;
    width: 100%;
    min-width: 96rem;
}

.navs {
    padding-left: 5.1rem;
    position: relative;
}

.nav {
    float: left;
    color: #f3f5f8;
    font-size: 1.5rem;
    padding: 1.2rem 1.5rem;
    position: relative;
    cursor: pointer;
}

.nav:hover ul {
    transform: scale(1);
}

.nav ul {
    position: absolute;
    /*top: 4.2rem;*/
    /*padding: 0rem 1rem;*/
    z-index: 9999;
    background-color: #fff;
    overflow: hidden;
    transition: .5s;
    transform-origin: top center;
    transform: scale(0);
    text-align: center;
}

.nav:nth-child(2) ul,
.nav:nth-child(5) ul {
    width: 100%;
    left: 0rem;
}

.nav:nth-child(3) ul,
.nav:nth-child(4) ul {
    width: 200%;
    left: -50%;
}

.nav:nth-child(2) ul li,
.nav:nth-child(5) ul li {
    width: 100%;
}

.nav:nth-child(3) ul li,
.nav:nth-child(4) ul li {
    width: 50%;
}

.nav ul li {
    color: #000;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    float: left;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    margin-right: -1px;
}

.nav ul li a {
    color: #000;
}

.nav ul li a:hover {
    color: #434A54;
    background-color: #E6E9ED;
}

.nav ul li:hover {
    background-color: #E6E9ED;
}

.nav:hover {
    color: #40403e;
    background-color: #94D4F0;
}


.loading {
    position: absolute;
    right: 0rem;
    top: 0.8rem;
    padding: 0rem 1rem;
    background: url(../img/searchbg.png) no-repeat bottom;
    background-size: 19.5rem 0.5rem;
}

.loading input {
    border: none;
}

.loading #searchInput {
    outline: none;
    background-color: #2baae1;
    color: #fff;
}

.loading #search {
    height: 2.4rem;
    width: 2.4rem;
    background: url(../img/search.png) no-repeat 100% 100%;
    background-size: 80% 80%;
    cursor: pointer;
}

.point {
    transition: .7s;
    width: 1.4rem;
    height: 0.8rem;
    position: absolute;
    overflow: hidden;
    bottom: -0.1rem;
}

.pointCon {
    height: 0.9rem;
    width: 0.9rem;
    background-color: #fff;
    transform: rotateZ(45deg);
    margin: 0.3rem;
}




.banner-wrapper {
    overflow: hidden;
    height: 28px;
    margin-top: 41px;
    margin-bottom: 20px;
}

.banner-wrapper a {
    font-size: 20px;
    color: #3B3A3A;

    font-family: "Classic Grotesque W01", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
    font-weight: 400;
}

.node-wrapper {
    height: 45px;
    background-color: #EFEEEE;
    margin: 22px auto;
    box-shadow: 1px 1px 2px 1px #C5C2C1;
}

.node-wrapper button {

    font-family: "Classic Grotesque W01", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
    display: inline-block;
    float: left;
    width: 110px;
    height: 45px;
    background: transparent;
    border: 0px;
    font-size: 18px;
    color: #3B3A3A;
}

.node-wrapper button.buttonActive {
    background-color: #65BFE7;
}

.content-wrapper {
    margin-top: 2.4%;
    position: relative;
}

.left-content {
    float: left;
    width: 66.9%;
    margin-right: 1%;
    padding-left: 1%;
}

.right-content {
    float: right;
    width: 28.5%;
    height: 754px;
}

.down {
    height: 621px;
    width: 100%;
}

.head-download {
    height: 38px;
    position: relative;
    border-bottom: 3px solid #2BAAE1;
}

.down h1 {
    float: left;
    padding: 7px;
    font-size: 21px;
    font-weight: 700;
}

.more-download {

    font-family: "Classic Grotesque W01", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
    float: right;
    width: 72px;
    border: 0px;
    height: 100%;
    color: #6C6B6B;
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    background: transparent;
}

.downLoadBox {
    height: 74px;
    width: 100%;
    margin-top: 0px;
}

.downLoadBox:first-child {
    margin-top: 10px;
}

.day {
    float: left;
    width: 27%;
    height: 87%;
    font-size: 30px;
    margin-top: 4px;
    background-color: #E3E3E3;
}

.title {
    float: left;
    height: 66%;
    width: 63%;
    font-size: 17px;
    padding: 3px;
    font-weight: initial;
    margin-top: 4px;
}

.month {
    font-size: 27px;
    letter-spacing: 1px;
    font-weight: 400;
    float: left;
    margin-top: 9px;
    margin-left: 7px;
}

.downLoadWrapper {
    margin-bottom: 12px;
}

.secondDay {
    font-size: 20px;
    letter-spacing: -4px;
    display: INLINE-BLOCK;
    margin-top: 31px;
    position: absolute;
    left: 38px;
}

.PersonWrapper {
    margin-bottom: 12px;
}

.PersonWrapper h1 {
    font-size: 22px;
    float: left;
    padding-left: 9px;
    padding-bottom: 6px;
    margin-top: 12px;
}

.someMore {

    font-family: "Classic Grotesque W01", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
    float: right;
    width: 72px;
    border: 0px;
    height: 100%;
    color: #6C6B6B;
    font-size: 18px;
    font-weight: 500;
    background: transparent;
    padding-top: 15px;
}

.personImage {
    position: absolute;
    height: 211px;
}

.imageWrapper {
    position: relative;
    height: 193px;
    width: 302px;
    margin-top: 25px;
}

.imageWrapper img {
    height: 193px;
    width: 314px;
    box-shadow: 9px 10px 20px 4px #C5C2C1;
}

.underwords {
    color: #fff;
    position: absolute;
    width: 302px;
    height: 40px;
    bottom: 2px;
    background: #000;
    opacity: 0.5;
}

.personImage h2 {
    width: 302px;

    font-family: "Classic Grotesque W01", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
    position: absolute;
    bottom: 10px;
    color: #fff;
    margin: 0px;
    padding: 4px 0px;
    padding-left: 8px;
    font-size: 14px;
    font-weight: 200;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shadow-l,
.shadow-r {
    background-color: transparent;
}

.left-content {
    position: relative;
}

.shadow-l {
    position: absolute;
    left: 0px;
    height: 50px;
    width: 291px;
    margin-top: -9px;
}

.shadow-r {
    position: absolute;
    right: 0px;
    height: 42px;
    width: 283px;
    margin-top: -6px;
}

.line {
    height: 50px;
    width: 100%;
    border-bottom: 3px solid #2BAAE1;
    margin: 10px 0px;
}


/*多图校园人物*/

.section-focus-pic {
    position: absolute;
    overflow: hidden;
    width: 28.5%;
    /* height: 246px; */
    height: 30%;
    margin: 3px 0;
}

.section-focus-pic ul li {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    /*height: 265px;*/
    height: 38%;
    max-height: 180px;
}

.section-focus-pic ul li h3 {

    font-family: "Classic Grotesque W01", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei", Arial, SimSun, sans-serif;
    font-size: 11px;
    font-weight: normal;
    position: absolute;
    z-index: 111;
    bottom: 6px;
    left: 0;
    width: 100%;
    margin-left: 6px;
    color: #fff;
}

.section-focus-pic ul li h3 a {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.section-focus-pic ul li div {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 29px;
    opacity: .6;
    background-color: #000;
    filter: alpha(opacity=60);
}

.section-focus-pic .pages {
    width: 100%;

    height: 30%;
}

.section-focus-pic .controler {

    display: none;

}

.section-focus-pic .controler b {
    display: block;
    float: left;
    overflow: hidden;
    width: 20px;
    height: 10px;
    margin: 0 0 0 5px;
    cursor: pointer;
    text-indent: 20px;
    background: url(../img/pic-change/news_index_icon.png) no-repeat -136px 3px;
}

.section-focus-pic .controler b.down {
    background-position: -161px 1px;
}

.section-focus-pic .controler2 a {
    position: absolute;
    top: 78px;
    display: block;
    width: 23px;
    height: 36px;
}

.section-focus-pic .controler2 a i {
    display: block;
    width: 22px;
    height: 34px;
    cursor: pointer;
    background: url(../img/pic-change/star.png) no-repeat;
}

.section-focus-pic .controler2 .prev {
    left: 5px;
}

.section-focus-pic .controler2 .prev i {
    margin-left: 5px;
    background-position: -34px -68px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_05.png');
}

.section-focus-pic .controler2 .prev:hover i {
    left: 10px;
    background-position: -34px -24px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_03.png');
}

.section-focus-pic .controler2 .next {
    right: 10px;
}

.section-focus-pic .controler2 .next i {
    margin-left: 10px;
    background-position: -62px -68px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_06.png');
}

.section-focus-pic .controler2 .next:hover i {
    right: 10px;
    background-position: -62px -24px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_04.png');
}


/*底部footer*/

.link {
    background-color: #ecf0f1;
    margin-top: 31px;
}

.links {

}

.links .links_li {
    float: left;
}

.links_li:first-child,
.links_li:nth-child(2) {
    width: 33%;
    margin: 47px 0px;
}

.links_li:nth-child {}

.links_li:nth-child(2) {
    width: 33%;
}

.links_li a {
    color: #474f57;
    font-size: 16px;
    line-height: 27px;
}

.footer {
    background-color: #474f58;
}

.footer p {
    text-align: center;
    color: #ebebeb;
    font-size: 14px;
    line-height: 40px;
}

.links_li span {
    height: 24px;
    width: 24px;
    display: inline-block;
    margin: 79px 43px 0 0;
    background-size: 100% 100%;
}

#erContainer a {
    height: 36px;
    width: 36px;
    display: inline-block;
    margin: 88px 43px 0 0;
    background-size: 100% 100%;
}

.qq {
    background: url(../img/share_qq.png);
}

.weixin {
    background: url(../img/share_weixin_after.png);
}

.weibo {
    background: url(../img/share_weibo.png);
}

.erweima {
    position: absolute;
    top: 53px;
    right: -107px;
    height: 100px;
    width: 100px;
}

.erweima:hover {
    transform: scale(1.4);
    animation: 2s;
}

.login a {
    position: fixed;
    bottom: 48%;
    right: 4.8rem;
    width: 4.5rem;
    height: 4.5rem;
    background: url(../img/login-top.png);
    background-position: -3px 2px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.return-top a {
    position: fixed;
    bottom: 32%;
    right: 63px;
    width: 67px;
    height: 67px;
    background: url(../img/login-top.png);
    background-position: -4px -64px;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

#back_top{
    position: fixed;
    opacity: 0;
    right: 5rem;
    bottom: 5rem;
    z-index: 9999;
    height: 4.3rem;
    width: 4.3rem;/*7.3*/
    background-color: red;
    cursor: pointer;
    background: url(../img/backtop.png);
    background-size: 100% 100%;
}
.footer {
    padding: 5px 0px;
}

.reload-icon {
    position: absolute;
    bottom: -100px;
    left: 45%;
    width: 66px;
    height: 66px;
    background: url(../img/reload.png);
}

@media only screen and (max-width: 1680px) {
    .links_li:first-child,
    .links_li:nth-child(2) {
        width: 30%;
        /* margin: 47px 0px;
    overflow: hidden;*/
    }
    .links_li:nth-child(2) {
        width: 27%;
    }
    .link,
    .footer {
        min-width: 1040px;
    }
}

@media only screen and (max-width: 1500px) {
    .links_li:first-child,
    .links_li:nth-child(2) {
        width: 30%;
        /* margin: 47px 0px;
    overflow: hidden;*/
    }
    .links_li:nth-child(2) {
        width: 27%;
    }
    .link,
    .footer {
        min-width: 1040px;
    }
}

@media only screen and (max-width: 1283px) {
    .links_li:first-child,
    .links_li:nth-child(2) {
        width: 31%;
        /* margin: 47px 0px;
    overflow: hidden;*/
    }
    .links_li:nth-child(2) {
        width: 31%;
    }
    .link,
    .footer {
        min-width: 1040px;
    }
}

[v-cloak]: {
    display: none;
}


.reload-icon:active,.reload-icon:hover{
    transform: rotate(360deg);
-webkit-transition-property:all;
-webkit-transition-duration:2s;
-webkit-transition-delay:0s;
animation-iteration-count:2;
-webkit-animation-iteration-count:2; 
-webkit-transition-timing-function:ease-in;
}