body {
    font-family: 'Classic Grotesque W01', 'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti', 'WenQuanYi Micro Hei', Arial, SimSun, sans-serif;
    background-color: #f4f4f4;
}

html {
    font-size: 62.5%;
}

.logo {
    margin: .2rem 0;
}

.logo a {
    color: #432e22;
}

.logo img {
    display: block;
    width: 20rem;
}

.our_name {
    font-size: 1.4rem;
}

.our_url {
    font-size: 1.4rem;
}

.nav-contents {
    width: 96rem;
    min-width: 96rem;
    margin: 0 auto;
}

.contents {
    width: 96rem;
    min-width: 96rem;
    margin: 0 auto;
}

.column {
    float: left;
    width: 64%;
    min-width: 600rem;
    height: 46rem;
}

.nav_bar {
    z-index: 1999;
    top: 0rem;
    width: 100%;
    min-width: 96rem;
    background-color: #2baae1;
}

.navs {
    position: relative;
    padding-left: 5.1rem;
}

.nav {
    font-size: 1.5rem;
    position: relative;
    float: left;
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    color: #f3f5f8;
}

.nav:hover ul {
    transform: scale(1);
}

.nav ul {
    position: absolute;
    /*top: 4.2rem;*/
    /*padding: 0rem 1rem;*/
    z-index: 9999;
    overflow: hidden;
    transition: .5s;
    transform: scale(0);
    transform-origin: top center;
    text-align: center;
    background-color: #fff;
}

.nav:nth-child(2) ul,
.nav:nth-child(5) ul {
    left: 0rem;
    width: 100%;
}

.nav:nth-child(3) ul,
.nav:nth-child(4) ul {
    left: -50%;
    width: 200%;
}

.nav:nth-child(2) ul li,
.nav:nth-child(5) ul li {
    width: 100%;
}

.nav:nth-child(3) ul li,
.nav:nth-child(4) ul li {
    width: 50%;
}

.nav ul li {
    line-height: 3rem;
    display: inline-block;
    float: left;
    height: 3rem;
    margin-right: -.2rem;
    cursor: pointer;
    text-align: center;
    color: #000;
    border-right: .1rem solid #f4f4f4;
    border-bottom: .1rem solid #f4f4f4;
}

.nav ul li a {
    color: #000;
}

.nav ul li a:hover {
    color: #434a54;
    background-color: #e6e9ed;
}

.nav ul li:hover {
    background-color: #e6e9ed;
}

.nav:hover {
    color: #40403e;
    background-color: #94d4f0;
}

.loading {
    position: absolute;
    top: .8rem;
    right: 0rem;
    padding: 0rem 1rem;
    background: url(../img/searchbg.png) no-repeat bottom;
    background-size: 19.5rem .5rem;
}

.loading input {
    border: none;
}

.loading #searchInput {
    color: #fff;
    outline: none;
    background-color: #2baae1;
}

.loading #search {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    background: url(../img/search.png) no-repeat 100% 100%;
    background-size: 80% 80%;
}

.point {
    position: absolute;
    bottom: -.1rem;
    overflow: hidden;
    width: 1.4rem;
    height: .8rem;
    transition: .7s;
}

.pointCon {
    width: .9rem;
    height: .9rem;
    margin: .3rem;
    transform: rotateZ(45deg);
    background-color: #fff;
}

.home {
    color: #f3f5f8;
}

.banner-wrapper {
    overflow: hidden;
    height: 2.8rem;
    margin-top: 4.1rem;
    margin-bottom: 20rem;
}

.banner-wrapper a {
    font-size: 2.0rem;
    font-weight: 400;
    color: #3b3a3a;
}

.node-wrapper {
    height: 4.5rem;
    margin: 2.2rem auto;
    background-color: #efeeee;
    box-shadow: .1rem .1rem .2rem .1rem #c5c2c1;
}

.node-wrapper button {
    font-size: 1.8rem;
    display: inline-block;
    float: left;
    width: 11.0rem;
    height: 4.5rem;
    color: #3b3a3a;
    border: 0rem;
    background: transparent;
}

.node-wrapper button.buttonActive {
    background-color: #65bfe7;
}

.content-wrapper {
    position: relative;
    margin-top: 2.4%;
}

.left-content {
    float: left;
    width: 66.9%;
    margin-right: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.right-content {
    float: right;
    width: 28.5%;
    height: 75.4rem;
}

.down {
    width: 100%;
    height: 62.1rem;
}

.head-download {
    position: relative;
    height: 3.8rem;
    border-bottom: .3rem solid #2baae1;
}

.down h1 {
    font-size: 1.8rem;
    font-weight: 400;
    float: left;
    padding: .7rem;
}

.more-download {
    font-size: 1.8rem;
    font-weight: 500;
    float: right;
    width: 7.2rem;
    height: 100%;
    padding-top: 1.0rem;
    color: #6c6b6b;
    border: 0rem;
    background: transparent;
}

.downLoadBox {
    width: 100%;
    height: 6.5rem;
    margin-top: 0rem;
}

.downLoadBox:first-child {
    margin-top: 10rem;
}

.day {
    font-size: 3.0rem;
    float: left;
    width: 24%;
    height: 80%;
    margin-top: .4rem;
    background-color: #e3e3e3;
}

.title {
    font-size: 1.4rem;
    font-weight: initial;
    float: left;
    width: 63%;
    height: 66%;
    margin-top: .4rem;
    /* font-weight: 200; */
    padding: .3rem;
}

.month {
    font-size: 2.3rem;
    font-weight: 400;
    float: left;
    margin-top: .5rem;
    margin-left: .7rem;
    letter-spacing: .1rem;
}

.downLoadWrapper {
    margin-bottom: 1.2rem;
}

.secondDay {
    font-size: 1.4rem;
    position: absolute;
    left: 3rem;
    display: inline-block;
    margin-top: 2.1rem;
    letter-spacing: -.15rem;
}

.PersonWrapper {
    margin-bottom: 1.2rem;
}

.PersonWrapper h1 {
    font-size: 1.8rem;
    font-weight: 400;
    float: left;
    margin-top: 1.2rem;
    padding-bottom: .6rem;
    padding-left: .9rem;
}

.someMore {
    font-family: 'Classic Grotesque W01', 'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti', 'WenQuanYi Micro Hei', Arial, SimSun, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    float: right;
    width: 7.2rem;
    height: 100%;
    padding-top: 1.5rem;
    color: #6c6b6b;
    border: .0rem;
    background: transparent;
}

.personImage {
    position: absolute;
    height: 21.1rem;
}

.imageWrapper {
    position: relative;
    width: 30.2rem;
    height: 19.3rem;
    margin-top: 2.5rem;
}

.imageWrapper img {
    width: 31.4rem;
    height: 19.3rem;
    box-shadow: .9rem 1.0rem 2.0rem .4rem #c5c2c1;
}

.underwords {
    position: absolute;
    bottom: .2rem;
    width: 30.2rem;
    height: 4.0rem;
    opacity: .5;
    color: #fff;
    background: #000;
}

.personImage h2 {
    font-size: 1.4rem;
    font-weight: 200;
    position: absolute;
    bottom: 1.0rem;
    overflow: hidden;
    width: 30.2rem;
    margin: 0rem;
    padding: .4rem 0rem;
    padding-left: .8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}

.shadow-l,
.shadow-r {
    background-color: transparent;
}

.left-content {
    position: relative;
}

.shadow-l {
    position: absolute;
    left: 0rem;
    width: 29.1rem;
    height: 5.0rem;
    margin-top: -.9rem;
}

.shadow-r {
    position: absolute;
    right: 0rem;
    width: 28.3rem;
    height: 4.2rem;
    margin-top: -.6rem;
}

.line {
    width: 100%;
    height: 4.0rem;
    margin: 1.0rem 0rem;
    border-bottom: .3rem solid #2baae1;
}

.item img {
    object-fit: cover;
}


/*多图校园人物*/

.section-focus-pic {
    position: absolute;
    overflow: hidden;
    width: 28.5%;
    /* height: 246rem; */
    height: 34%;
    margin: .3rem 0;
}

.section-focus-pic ul li {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    /*height: 265rem;*/
    height: 43%;
    max-height: 18.0rem;
}

.section-focus-pic ul li h3 {
    font-size: 1.1rem;
    font-weight: normal;
    position: absolute;
    z-index: 111;
    bottom: .6rem;
    left: 0;
    width: 100%;
    margin-left: .6rem;
    color: #fff;
}

.section-focus-pic ul li h3 a {
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.section-focus-pic ul li div {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 2.9rem;
    opacity: .6;
    background-color: #000;
    filter: alpha(opacity=60);
}

.section-focus-pic .pages {
    width: 100%;
    height: 30%;
}

.section-focus-pic .controler {
    display: none;
}

.section-focus-pic .controler b {
    display: block;
    float: left;
    overflow: hidden;
    width: 2.0rem;
    height: 1.0rem;
    margin: 0 0 0 .5rem;
    cursor: pointer;
    text-indent: 2.0rem;
    background: url(../img/pic-change/news_index_icon.png) no-repeat -13.6rem .3rem;
}

.section-focus-pic .controler b.down {
    background-position: -161rem 1rem;
}

.section-focus-pic .controler2 a {
    position: absolute;
    top: 7.8rem;
    display: block;
    width: 2.3rem;
    height: 3.6rem;
}

.section-focus-pic .controler2 a i {
    display: block;
    width: 2.2rem;
    height: 3.4rem;
    cursor: pointer;
    background: url(../img/pic-change/star.png) no-repeat;
}

.section-focus-pic .controler2 .prev {
    left: .5rem;
}

.section-focus-pic .controler2 .prev i {
    /*margin-left:.5rem;*/
    background-position: -34px -68px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_05.png');
}

.section-focus-pic .controler2 .prev:hover i {
    left: 1.0rem;
    background-position: -34px -24px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_03.png');
}

.section-focus-pic .controler2 .next {
    right: 1.0rem;
}

.section-focus-pic .controler2 .next i {
    margin-left: 1.0rem;
    background-position: -62px -68px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_06.png');
}

.section-focus-pic .controler2 .next:hover i {
    right: 1.0rem;
    background-position: -62px -24px;
    _background: none;
    _filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='imgs/star_04.png');
}


/*底部footer*/

.link {
    margin-top: 2.1rem;
    background-color: #ecf0f1;
}

.links .links_li {
    float: left;
}

.links_li:first-child,
.links_li:nth-child(2) {
    width: 33%;
    margin: 3.7rem 0rem;
}

.links_li:nth-child(2) {
    width: 33%;
}

.links_li a {
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #474f57;
}

.footer {
    background-color: #474f58;
}

.footer p {
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
    color: #ebebeb;
}

.links_li span {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    margin: 7.9rem 4.3rem 0 0;
    background-size: 100% 100%;
}

#erContainer a {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    margin: 6.8rem 3.3rem 0 0;
    background-size: 100% 100%;
}

.qq {
    background: url(../img/share_qq.png);
}

.weixin {
    background: url(../img/share_weixin_after.png);
}

.weibo {
    background: url(../img/share_weibo.png);
}

.erweima {
    position: absolute;
    top: 3.3rem;
    right: -10.7rem;
    width: 10.0rem;
    height: 10.0rem;
}

.erweima:hover {
    transform: scale(1.4);
    animation: 2s;
}

.login a {
    position: fixed;
    right: 4.8rem;
    bottom: 48%;
    width: 4.5rem;
    height: 4.5rem;
    background: url(../img/login-top.png);
    background-repeat: no-repeat;
    background-position: -.3rem .2rem;
    background-size: cover;
}

#back_top {
    position: fixed;
    z-index: 9999;
    right: 5rem;
    bottom: 5rem;
    width: 4.3rem;
    height: 4.3rem;
    cursor: pointer;
    opacity: 0;
    background: url(../img/backtop.png);
    /*7.3*/
    /*background-color: red;*/
    background-size: 100% 100%;
}

.footer {
    padding: .5rem 0rem;
}

.reload-icon {
    position: absolute;
    bottom: -10rem;
    left: 45%;
    width: 5.4rem;
    height: 5.4rem;
    background: url(../img/reload.png);
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1680rem) {
    .links_li:first-child,
    .links_li:nth-child(2) {
        width: 30%;
        /* margin: 47rem 0rem;
    overflow: hidden;*/
    }
    .links_li:nth-child(2) {
        width: 27%;
    }
    .link,
    .footer {
        min-width: 104.0rem;
    }
}

@media only screen and (max-width: 1500rem) {
    .links_li:first-child,
    .links_li:nth-child(2) {
        width: 30%;
        /* margin: 47rem 0rem;
    overflow: hidden;*/
    }
    .links_li:nth-child(2) {
        width: 27%;
    }
    .link,
    .footer {
        min-width: 104.0rem;
    }
}

@media only screen and (max-width: 1283rem) {
    .links_li:first-child,
    .links_li:nth-child(2) {
        width: 31%;
    }
    .links_li:nth-child(2) {
        width: 31%;
    }
    .link,
    .footer {
        min-width: 104.0rem;
    }
}

.reload-icon:active,
.reload-icon:hover {
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-duration: 2s;
    -webkit-transition-property: all;
    transform: rotate(360deg);
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
}
