.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.left-content {
    margin-bottom: 14.8rem;
    box-shadow: .4rem .7rem 2.3rem .3rem #c5c2c1;
}

.block {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 19.4rem;
    background-color: #fdfdfd;
}

.block:nth-child(2n+1) {
    background-image: url(../img/wave3.png);
}

.content-img {
    display: inline-block;
    float: left;
    width: 28%;
    min-width: 20.0rem;
    max-width: 33.8rem;
    height: 79%;
    margin-top: 2.0rem;
    margin-right: 0;
    margin-bottom: 1.0rem;
    margin-left: .4rem;
}

.intr {
    float: left;
    width: 63%;
    height: 100%;
    margin-left: 1%;
    color: #5f5e5e;
}

.headname {
    font-family: 'Classic Grotesque W01', 'Hiragino Sans GB', 'Microsoft YaHei', 'STHeiti', 'WenQuanYi Micro Hei', Arial, SimSun, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    display: block;
    overflow: hidden;
    margin-top: 2.0rem;
    /*margin-bottom: 1.0rem;*/
    padding: .2rem;
    white-space: nowrap;
    text-indent: 1.5em;
    text-overflow: ellipsis;
}

.headname:hover {
    /*text-decoration: underline;*/
    font-weight: 500;
    color: #2baae1;
}

.block p {
font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.3rem;
    overflow: hidden;
    height: 9.9rem;
    padding: 1.0rem .2rem 0 .1rem;
    white-space: pre-wrap;
    text-indent: 2.2em;
    text-overflow: ellipsis;
}

.words {
    font-size: 1.3rem;
    float: right;
    width: 52%;
    /*height: 4.4rem;*/
    color: #A09E9E;
}

.words span {
    display: inherit;
    margin-top: -.23rem;
    padding-right: 4%;
    padding-left: 4%;
}

.time {
    float: left;
}

.more {
    display: inline-block;
    float: right;
    margin-top: -1.6rem;
    color: #2baae1;
}

#more-icon {
   /* width: 2.2rem;
    height: 2.2rem;
    margin-top: -3%;
    margin-right: .7rem;*/
    width: 2rem;
    height: 2rem;
    margin-top: -4%;
    margin-right: 0rem;
}

.more a {
    font-size: 1.3rem;
    line-height: 1.5rem;
    float: right;
    padding-left: .1rem;
    color: #2baae1;
}
a.title :hover{
    color: red;
}